[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/plugins/vim-gitgutter"]
	path = vim/plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/plugins/haskell-vim"]
	path = vim/plugins/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "vim/plugins/ghcmod-vim"]
	path = vim/plugins/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/plugins/neco-ghc"]
	path = vim/plugins/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule "vim/plugins/neocomplete.vim"]
	path = vim/plugins/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/plugins/nerdcommenter"]
	path = vim/plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugins/syntastic"]
	path = vim/plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/plugins/supertab"]
	path = vim/plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/plugins/ack.vim"]
	path = vim/plugins/ack.vim
	url = https://github.com/mileszs/ack.vim.git
