[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/plugins/vim-gitgutter"]
	path = vim/plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/plugins/haskell-vim"]
	path = vim/plugins/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "vim/plugins/ghcmod-vim"]
	path = vim/plugins/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/plugins/neco-ghc"]
	path = vim/plugins/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule "vim/plugins/neocomplete.vim"]
	path = vim/plugins/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/plugins/nerdcommenter"]
	path = vim/plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugins/syntastic"]
	path = vim/plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/plugins/ack.vim"]
	path = vim/plugins/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/plugins/vim-scala"]
	path = vim/plugins/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim/plugins/deoplete.nvim"]
	path = vim/plugins/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "vim/plugins/nvim-yarp"]
	path = vim/plugins/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "vim/plugins/vim-hug-neovim-rpc"]
	path = vim/plugins/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "vim/plugins/tsuquyomi"]
	path = vim/plugins/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi
[submodule "vim/plugins/typescript-vim"]
	path = vim/plugins/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/plugins/auto-pairs"]
	path = vim/plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/plugins/incsearch.vim"]
	path = vim/plugins/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
